body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  .container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-left: 250px;
    margin-right: 250px;
  }
  input[type="fullName"], 
  textarea{
    display: inline-flex;
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 60%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  .required-asterisk{
    color: #b22424;
    
  }
  .rating {
    display: flex;
    align-items: center;
  }
  
  .rating i {
    font-size: 20px;
    color: #ffc107;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .rating i.active {
    color: #ffc107;
  }
  
  .table-container {
    margin-top: 20px;
  }
  
  .table-container table{
    width: 100%;
    border-collapse: collapse;
    text-wrap: wrap;
  }

  .table-container th, td{
    text-align: left;
    padding: 8px;
    border-radius: 5px;
    text-wrap: wrap;
  }

  table, tr, th{
    font-weight: lighter;
  }
  .radio-group {
    display: flex;
    align-items: center;
  }
  
  .radio-group label {
    margin-right: 10px;
  }
  
  .radio-group input[type="radio"] {
    margin-right: 5px;
  }

  label {
    margin-top: 20px;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  textarea{
  width: 100%;
  height: 100px;
  }

  button {
    background: #10cf09;
    border-radius: 5px ;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    width: 120px;
    text-transform: none;
    cursor: pointer;
    transform: skew(1deg);
  }
  
  button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 100%;
    background: rgb(20, 20, 20);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
  } 
  
   button:hover {
    color: #fff;
  } 
  
  button:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
  } 
  